@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "ACCESO DENEGADO";
}

<div>
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">No tiene permisos para ingresar a esta opción.</p>
    </header>
</div>

