@{
    ViewData["Title"] = "Home Page";
}

<header class="header">

    <div class="container text-center" style="background-color: orange; color: white; ">
      <div class="heading-primary">
            <h1 class="display-6">SISTEMA DE ADMINISTRACION DE INVENTARIO Y REPARACIONES</h1>
      </div>

        

    </div>
</header>


       
   



  


